* {
  padding: 0;
  margin: 0;
}

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ---------------------- SIGN IN ---------------------- */

.signIn {
  display: flex;
  width: 100%;
  height: 100vh;
}

.signIn_image {
  background-image: url(../../assets/img/sign-in/sign-img.png);
  background-size: cover;
  width: 58.5%;
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signIn_image h1 {
  color: #ffffff;
  opacity: 0.8;
}

.signIn_content {
  display: flex;
  width: 41.5%;
  padding: 83px;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.signIn_content h2 {
  color: #121212;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.signIn_content p {
  color: #aaaaaa;
  font-size: 18px;
  margin-bottom: 48px;
}

.signIn_form .form-label {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #696f79;
  margin-bottom: 12px;
}

.signIn_form .form-control {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #a0a3bd;
  height: 64px;
  background-color: #fcfdfe;
  border: 1px solid #dedede;
  padding: 22px 24px;
  margin-bottom: 24px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

::placeholder {
  color: #a0a3bd !important;
  font-family: "Mulish", sans-serif !important;
}

.signIn_icon-pw {
  position: relative;
  z-index: 1;
  left: 90%;
  top: -68px;
  cursor: pointer;
}

.signIn_password-input {
  max-height: 120px;
}

.signIn_btn {
  background-color: #5f2eea;
  color: #f7f7fc;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn_btn:hover {
  background-color: #35158b;
}

.signIn_other-input {
  margin-top: 32px;
  text-align: center;
}

.signIn_other-input p {
  color: #8692a6;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 19px;
}

.signIn_click-input {
  color: #5f2eea;
  font-weight: 600;
  background-color: white;
  border: none;
  border-bottom: 2px solid #5f2eea;
}

.signIn_logo-mobile {
  display: none;
}

@media (max-width: 575.98px) {
  /* ---------------------- SIGN IN ---------------------- */
  .signIn_image {
    display: none;
  }
  .signIn_content {
    width: 100%;
    padding: 0 24px;
  }
  .signIn_content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .signIn_logo-mobile {
    display: block;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .signIn_content h2 {
    font-size: 26px;
  }
  .signIn_content p {
    font-size: 15px;
    margin-bottom: 21px;
  }
  .signIn_form .form-control {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .signIn_btn {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}
